.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.datatablecontainer {
  background-color: #062f58;
  margin: auto;
  color: rgb(66, 66, 65);
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
}
.datatablecontainer h2 {color: aliceblue;}
.datatable {
  margin: auto;
  background-color: rgb(248, 100, 100);
  margin: auto;
}
.datatable td {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  color: rgb(77, 73, 73);
}
.datatable button {
  padding: 0.3rem;
  min-width: 4rem;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  
}
.editbutton {
  background-color: rgb(75, 248, 75);
  &:hover {
    background-color: green;
  }
}
.deletebutton {
  background-color: rgb(240, 47, 47);
  &:hover {
    background-color: rgb(124, 11, 11);
  }
}
thead {height: 4rem}
.nofound {
  font-size: 4rem;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
